.navbar-container{
    width: 100%;
    top: 0;
    margin: 0;
    height: 40px;
    background-color: gray;
    border-bottom: 2px solid aqua;
    display: flex;
    align-items:center;
    justify-content: space-between;

    a{
        color: white;
        font-weight: 600;
        text-decoration: none;
        
    }
    
    .logo-wrapper {
        font-size: 28px;
        font-weight: 800;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: purple;

    }
    
}
.exponent-calculator {
    display: grid;
    grid-template-columns: (3, 1fr);
    gap: 10px;
}
.sliders{
    display: flex;
    align-items: center;
    justify-content: space-between;
}